.Order {
	display: grid;
	grid-template-columns: 3fr 1fr 0.5fr;
	align-items: center;
	/* gap: 20px; */

}

.Order__arrow {
	/* color: var(--very-light-pink);
	font-weight: bold;
	font-size: var(--md); */
	cursor: pointer;
}
