.list-orders__item {
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr 0.5fr;
	align-items: center;
	gap: 10px;

}

.list-orders__img {
	width: 100px;
	height: 100px;

	border-radius: 10px;
}

.list-orders__product {
	font-size: var(--md);
	color: var(--very-light-pink);
}

.list-orders__price {
	justify-self: flex-end;

	margin-right: 16px;

	font-size: var(--md);
	color: var(--black);
	font-weight: bold;
}

.list-orders__icon-close {
	justify-self: flex-end;

	margin-right: 8px;
}
